h1{
	font-family: "Helvetica", serif;
	color:red;
	font-size:30pt
}

div{
	color:red;
	font-family: "Helvetica", serif;
}

button {
  height: 100px;
  width:100px;
  background-image:
  margin-bottom:15px;



}


#start-btn {
font-family: "Helvetica", serif;
color:green;
 background-color:lightgreen;
  font-size: 20px;
  width: 150px;
  height:50px;
  margin-bottom:25px;
}

#reset-btn {
	font-family: "Helvetica", serif;
	color:red;
	background-color:pink;
  font-size: 20px;
  width: 150px;
  height:50px;
  margin-bottom:25px;

}


#score-btn{
	font-family: "Helvetica", serif;
	color:blue;
	background-color:lightblue;
  font-size:20px;
  width: 150px;
  height:50px;
  margin-bottom:25px;
}
