button {
  height: 40px;
  background-image: 
}



#start-btn {
  font-size: 15px;
  width: 150px;
}

#reset-btn {
  font-size: 15px;
  width: 150px;
}


#score-btn{
  font-size:15px;
  width: 150px;
}
